Мета
Ознайомитись зі структурою файлів csv та зчитати їх у DataFrame за допомогою бібліотеки
pandas
Використати методи pandas для роботи з DataFrame

In [118]:
import pandas as pd

In [ ]:
train = ("train.csv")
df = pd.read_csv(train)
ress = df[df['DayOfWeek'] >= 6].groupby("Store")["Sales"].sum()
print(ress)
car_df = 'cars_data.csv'                                                           
df_cars = pd.read_csv(car_df)
res = df_cars[df_cars['Year'] >= 2020].groupby('Doors')["Horsepower"].sum()
print(res)

Store
1        662358
2        384996
3        594242
4       1355202
5        278600
         ...
1111     440689
1112    1151380
1113     789739
1114    2939357
1115     907634
Name: Sales, Length: 1115, dtype: int64
Doors
4    910
5    180
Name: Horsepower, dtype: int64

C:\Users\andri\AppData\Local\Temp\ipykernel_29984\3574431635.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(train)

In [120]:
print(df_cars.head())

      Brand    Model  Year  Price  Mileage Fuel Type  Horsepower  Doors
0    Toyota  Corolla  2020  20000    30000    Petrol         130      4
1     Honda    Civic  2019  22000    25000    Petrol         150      4
2      Ford    Focus  2021  19000    40000    Diesel         120      4
3       BMW       X5  2018  50000    50000    Diesel         300      5
4  Mercedes  E-Class  2022  55000    20000    Petrol         350      4

In [121]:
print(df_cars.tail())

       Brand     Model  Year  Price  Mileage Fuel Type  Horsepower  Doors
5       Audi        A4  2020  40000    30000    Petrol         200      4
6  Chevrolet    Malibu  2017  25000    45000    Hybrid         160      4
7     Nissan    Altima  2019  23000    28000    Diesel         140      4
8    Hyundai   Elantra  2021  21000    35000    Petrol         110      4
9        Kia  Sportage  2020  27000    32000    Hybrid         180      5

In [122]:
print(df_cars.sample(4))

    Brand    Model  Year  Price  Mileage Fuel Type  Horsepower  Doors
5    Audi       A4  2020  40000    30000    Petrol         200      4
0  Toyota  Corolla  2020  20000    30000    Petrol         130      4
2    Ford    Focus  2021  19000    40000    Diesel         120      4
1   Honda    Civic  2019  22000    25000    Petrol         150      4

In [123]:
print(df_cars.shape)

(10, 8)

In [124]:
print(df_cars.columns)

Index(['Brand', 'Model', 'Year', 'Price', 'Mileage', 'Fuel Type', 'Horsepower',
       'Doors'],
      dtype='object')

In [125]:
print(df_cars.index)

RangeIndex(start=0, stop=10, step=1)

In [126]:
print(df_cars.dtypes)

Brand         object
Model         object
Year           int64
Price          int64
Mileage        int64
Fuel Type     object
Horsepower     int64
Doors          int64
dtype: object

In [127]:
print(df_cars.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       10 non-null     object
 1   Model       10 non-null     object
 2   Year        10 non-null     int64
 3   Price       10 non-null     int64
 4   Mileage     10 non-null     int64
 5   Fuel Type   10 non-null     object
 6   Horsepower  10 non-null     int64
 7   Doors       10 non-null     int64
dtypes: int64(5), object(3)
memory usage: 772.0+ bytes
None

In [128]:
df_cars["Sum"] = df_cars["Horsepower"] + df_cars["Doors"]
print(df_cars)

       Brand     Model  Year  Price  Mileage Fuel Type  Horsepower  Doors  Sum
0     Toyota   Corolla  2020  20000    30000    Petrol         130      4  134
1      Honda     Civic  2019  22000    25000    Petrol         150      4  154
2       Ford     Focus  2021  19000    40000    Diesel         120      4  124
3        BMW        X5  2018  50000    50000    Diesel         300      5  305
4   Mercedes   E-Class  2022  55000    20000    Petrol         350      4  354
5       Audi        A4  2020  40000    30000    Petrol         200      4  204
6  Chevrolet    Malibu  2017  25000    45000    Hybrid         160      4  164
7     Nissan    Altima  2019  23000    28000    Diesel         140      4  144
8    Hyundai   Elantra  2021  21000    35000    Petrol         110      4  114
9        Kia  Sportage  2020  27000    32000    Hybrid         180      5  185

In [ ]:
df_cars[['Brand', 'Model', 'Price']]
df_cars.iloc[0:3]

print(df_cars.loc[0:3,['Brand', 'Model', 'Price']])

    Brand    Model  Price
0  Toyota  Corolla  20000
1   Honda    Civic  22000
2    Ford    Focus  19000
3     BMW       X5  50000

In [130]:
df_cars.drop('Mileage', axis=1, inplace=True)  
df_cars.drop(8, axis=0, inplace=True)  
print(df_cars)

       Brand     Model  Year  Price Fuel Type  Horsepower  Doors  Sum
0     Toyota   Corolla  2020  20000    Petrol         130      4  134
1      Honda     Civic  2019  22000    Petrol         150      4  154
2       Ford     Focus  2021  19000    Diesel         120      4  124
3        BMW        X5  2018  50000    Diesel         300      5  305
4   Mercedes   E-Class  2022  55000    Petrol         350      4  354
5       Audi        A4  2020  40000    Petrol         200      4  204
6  Chevrolet    Malibu  2017  25000    Hybrid         160      4  164
7     Nissan    Altima  2019  23000    Diesel         140      4  144
9        Kia  Sportage  2020  27000    Hybrid         180      5  185

In [131]:
df_cars_by_price = df_cars[(df_cars['Price'] > 30000) & (df_cars["Fuel Type"] == 'Diesel')]
print(df_cars_by_price)

  Brand Model  Year  Price Fuel Type  Horsepower  Doors  Sum
3   BMW    X5  2018  50000    Diesel         300      5  305

In [132]:
df_cars.set_index('Brand', inplace=True)
print(df_cars)

              Model  Year  Price Fuel Type  Horsepower  Doors  Sum
Brand
Toyota      Corolla  2020  20000    Petrol         130      4  134
Honda         Civic  2019  22000    Petrol         150      4  154
Ford          Focus  2021  19000    Diesel         120      4  124
BMW              X5  2018  50000    Diesel         300      5  305
Mercedes    E-Class  2022  55000    Petrol         350      4  354
Audi             A4  2020  40000    Petrol         200      4  204
Chevrolet    Malibu  2017  25000    Hybrid         160      4  164
Nissan       Altima  2019  23000    Diesel         140      4  144
Kia        Sportage  2020  27000    Hybrid         180      5  185

In [133]:
df_cars.reset_index(inplace=True)
print(df_cars)

       Brand     Model  Year  Price Fuel Type  Horsepower  Doors  Sum
0     Toyota   Corolla  2020  20000    Petrol         130      4  134
1      Honda     Civic  2019  22000    Petrol         150      4  154
2       Ford     Focus  2021  19000    Diesel         120      4  124
3        BMW        X5  2018  50000    Diesel         300      5  305
4   Mercedes   E-Class  2022  55000    Petrol         350      4  354
5       Audi        A4  2020  40000    Petrol         200      4  204
6  Chevrolet    Malibu  2017  25000    Hybrid         160      4  164
7     Nissan    Altima  2019  23000    Diesel         140      4  144
8        Kia  Sportage  2020  27000    Hybrid         180      5  185

In [134]:
df_cars["Doors"].value_counts()

Doors
4    7
5    2
Name: count, dtype: int64

In [135]:
df_cars["Doors"].unique()

array([4, 5])

In [136]:
df_cars["Doors"].sum()

np.int64(38)

In [137]:
df_cars["Doors"].mean()

np.float64(4.222222222222222)

In [138]:
df_cars['Horsepower'] = df_cars['Horsepower'].map(lambda x: x * 1.5)
print(df_cars)

       Brand     Model  Year  Price Fuel Type  Horsepower  Doors  Sum
0     Toyota   Corolla  2020  20000    Petrol       195.0      4  134
1      Honda     Civic  2019  22000    Petrol       225.0      4  154
2       Ford     Focus  2021  19000    Diesel       180.0      4  124
3        BMW        X5  2018  50000    Diesel       450.0      5  305
4   Mercedes   E-Class  2022  55000    Petrol       525.0      4  354
5       Audi        A4  2020  40000    Petrol       300.0      4  204
6  Chevrolet    Malibu  2017  25000    Hybrid       240.0      4  164
7     Nissan    Altima  2019  23000    Diesel       210.0      4  144
8        Kia  Sportage  2020  27000    Hybrid       270.0      5  185

In [139]:
df_cars_sort = df_cars.sort_values(by='Price' ,ascending=False)
print(df_cars_sort)
df_cars_sort = df_cars.sort_values(by='Price' ,ascending=True)
print(df_cars_sort)

       Brand     Model  Year  Price Fuel Type  Horsepower  Doors  Sum
4   Mercedes   E-Class  2022  55000    Petrol       525.0      4  354
3        BMW        X5  2018  50000    Diesel       450.0      5  305
5       Audi        A4  2020  40000    Petrol       300.0      4  204
8        Kia  Sportage  2020  27000    Hybrid       270.0      5  185
6  Chevrolet    Malibu  2017  25000    Hybrid       240.0      4  164
7     Nissan    Altima  2019  23000    Diesel       210.0      4  144
1      Honda     Civic  2019  22000    Petrol       225.0      4  154
0     Toyota   Corolla  2020  20000    Petrol       195.0      4  134
2       Ford     Focus  2021  19000    Diesel       180.0      4  124
       Brand     Model  Year  Price Fuel Type  Horsepower  Doors  Sum
2       Ford     Focus  2021  19000    Diesel       180.0      4  124
0     Toyota   Corolla  2020  20000    Petrol       195.0      4  134
1      Honda     Civic  2019  22000    Petrol       225.0      4  154
7     Nissan    Altima  2019  23000    Diesel       210.0      4  144
6  Chevrolet    Malibu  2017  25000    Hybrid       240.0      4  164
8        Kia  Sportage  2020  27000    Hybrid       270.0      5  185
5       Audi        A4  2020  40000    Petrol       300.0      4  204
3        BMW        X5  2018  50000    Diesel       450.0      5  305
4   Mercedes   E-Class  2022  55000    Petrol       525.0      4  354

In [140]:
df_cars_grouped=  df_cars.groupby(['Fuel Type', 'Year']).agg({'Price': 'max'})
print(df_cars_grouped)

                Price
Fuel Type Year
Diesel    2018  50000
          2019  23000
          2021  19000
Hybrid    2017  25000
          2020  27000
Petrol    2019  22000
          2020  40000
          2022  55000

In [1]:
df_cars_agg = df_cars.agg({
    'Price': ['min', 'max', 'mean'],
    "Horsepower" : ['min' ,'max' , 'mean']
    'Year': 'mean',
})
print(df_cars_agg)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (7941975.py, line 3)

In [142]:
df_cars_filtered = df_cars[df_cars['Price'] > 30000]
print(df_cars_filtered)

      Brand    Model  Year  Price Fuel Type  Horsepower  Doors  Sum
3       BMW       X5  2018  50000    Diesel       450.0      5  305
4  Mercedes  E-Class  2022  55000    Petrol       525.0      4  354
5      Audi       A4  2020  40000    Petrol       300.0      4  204

In [143]:
df_cars_diesel = df_cars[df_cars['Fuel Type'] == 'Diesel']
print(df_cars_diesel)

    Brand   Model  Year  Price Fuel Type  Horsepower  Doors  Sum
2    Ford   Focus  2021  19000    Diesel       180.0      4  124
3     BMW      X5  2018  50000    Diesel       450.0      5  305
7  Nissan  Altima  2019  23000    Diesel       210.0      4  144

In [144]:
df_cars_query = df_cars.query('Price > 20000 and `Fuel Type` == "Petrol"')
print(df_cars_query)

      Brand    Model  Year  Price Fuel Type  Horsepower  Doors  Sum
1     Honda    Civic  2019  22000    Petrol       225.0      4  154
4  Mercedes  E-Class  2022  55000    Petrol       525.0      4  354
5      Audi       A4  2020  40000    Petrol       300.0      4  204

In [145]:
pivot_table = df_cars.pivot_table(index="Fuel Type", columns="Doors", values="Price", aggfunc="count")
print(pivot_table)

Doors        4    5
Fuel Type
Diesel     2.0  1.0
Hybrid     1.0  1.0
Petrol     4.0  NaN