In [1]:
import pandas as pd

In [2]:
file = "sampledatafoodsales.csv"
df = pd.read_csv(file)
print(df)

      OrderDate Region         City  Category         Product  Quantity  \
0      1/4/2020   East       Boston  Crackers     Whole Wheat        87
1      1/7/2020   West  Los Angeles   Cookies  Chocolate Chip        58
2     1/10/2020   East     New York   Cookies  Chocolate Chip        82
3     1/13/2020   East       Boston   Cookies       Arrowroot        38
4     1/16/2020   East       Boston      Bars          Carrot        54
..          ...    ...          ...       ...             ...       ...
238  12/18/2021   East       Boston   Cookies       Arrowroot        34
239  12/21/2021   East       Boston   Cookies  Chocolate Chip       245
240  12/24/2021   East       Boston  Crackers     Whole Wheat        30
241  12/27/2021   West  Los Angeles      Bars            Bran        30
242  12/30/2021   West  Los Angeles   Cookies  Oatmeal Raisin        44

     UnitPrice  Unnamed: 7
0         3.49         NaN
1         1.87         NaN
2         1.87         NaN
3         2.18         NaN
4         1.77         NaN
..         ...         ...
238       2.18         NaN
239       1.87         NaN
240       3.49         NaN
241       1.87         NaN
242       2.84         NaN

[243 rows x 8 columns]

In [3]:
df['Total'] = df['Quantity']*df['UnitPrice']
print("Summa vcih povupok",df['Total'].sum())

Summa vcih povupok 33267.17

In [4]:
df["OrderDate"] = pd.to_datetime(df['OrderDate'])
total_in_2020 = df[(df["OrderDate"].dt.year == 2020) & (df['Region'] == 'East')]['Quantity'].sum()
print(total_in_2020)

5389

In [5]:
df["Profit"] = df['Total'] - (df["Total"] * 0.8)
print(df['Profit'].sum())

6653.433999999998

In [6]:
min_score = df.groupby('Category')['UnitPrice'].min()
print(min_score)

Category
Bars        1.77
Cookies     1.87
Crackers    3.49
Snacks      1.35
Name: UnitPrice, dtype: float64

In [7]:
df["RegionCity"] = df['Region'] + ', ' + df['City']
print(df[["Region",'City','RegionCity']])

    Region         City         RegionCity
0     East       Boston       East, Boston
1     West  Los Angeles  West, Los Angeles
2     East     New York     East, New York
3     East       Boston       East, Boston
4     East       Boston       East, Boston
..     ...          ...                ...
238   East       Boston       East, Boston
239   East       Boston       East, Boston
240   East       Boston       East, Boston
241   West  Los Angeles  West, Los Angeles
242   West  Los Angeles  West, Los Angeles

[243 rows x 3 columns]

In [8]:
most_common_value = df['Product'].value_counts().idxmax()
print(most_common_value)

Carrot

In [9]:
least_common_value = df['Product'].value_counts().idxmin()
print(least_common_value)

Banana

In [ ]:
avg_top_5 = df['Product'].value_counts().sort_values(ascending=False).head().mean()
print(avg_top_5)

37.0
Product
Carrot            63
Chocolate Chip    33
Arrowroot         31
Oatmeal Raisin    31
Bran              27
Whole Wheat       26
Potato Chips      22
Pretzels           7
Banana             3
Name: count, dtype: int64

In [11]:
df['Sale Status'] = df['UnitPrice'].apply(lambda x: 'high unit price' if x > 2 else 'low unit price')
print(df[["City", 'Product', 'Sale Status']].sort_values(by='Sale Status', ascending=False).value_counts())

City         Product         Sale Status
Boston       Carrot          low unit price     18
             Whole Wheat     high unit price    17
Los Angeles  Carrot          low unit price     17
New York     Carrot          low unit price     17
Boston       Arrowroot       high unit price    16
San Diego    Carrot          low unit price     11
Los Angeles  Chocolate Chip  low unit price     10
New York     Potato Chips    low unit price      9
             Bran            low unit price      9
Boston       Oatmeal Raisin  high unit price     9
Los Angeles  Oatmeal Raisin  high unit price     8
San Diego    Chocolate Chip  low unit price      8
New York     Chocolate Chip  low unit price      8
             Oatmeal Raisin  high unit price     8
Boston       Chocolate Chip  low unit price      7
             Bran            low unit price      7
             Pretzels        high unit price     7
Los Angeles  Bran            low unit price      7
             Potato Chips    low unit price      7
San Diego    Oatmeal Raisin  high unit price     6
New York     Arrowroot       high unit price     6
San Diego    Arrowroot       high unit price     5
New York     Whole Wheat     high unit price     5
San Diego    Bran            low unit price      4
Los Angeles  Arrowroot       high unit price     4
Boston       Banana          high unit price     3
             Potato Chips    low unit price      3
San Diego    Potato Chips    low unit price      3
Los Angeles  Whole Wheat     high unit price     2
San Diego    Whole Wheat     high unit price     2
Name: count, dtype: int64

In [12]:
print(df.groupby('City')['Quantity'].mean().sort_values(ascending=False).head(3))

City
Los Angeles    68.527273
New York       64.612903
Boston         64.563218
Name: Quantity, dtype: float64